body {    
    margin: auto !important;
    width: 320px;
    padding: 50px !important;
    display: block;
    overflow-x:hidden;
    overflow-y:hidden;
}

label {
	color: #0055ff;
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing: 2px;
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif
}

div.container
{
	display: block;
	margin: auto !important;
	width: 100%;
}

input#login, input#signup
{
	display: block;
	margin: 10px auto 0px auto !important;
	padding: 11px 20px;
	width: 100%;
	height: 50% !important;
	border: 2px solid #0055ff; background: #fff;
	
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #0055ff;
}

input#password, input#name, input#email
{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
	display: block;
	width: 100%;
	margin: 6px auto 18px auto !important;
	padding: 11px 20px;
	
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-size: 80%;
}

input#login:hover, input#signup:hover
{
	border: 2px solid #0055ff; background: #0055ff;
	color: #fff;
}
