body {
    margin: auto;
    padding: 20px 0px 0px 0px;
    width: 100%;
    display: block;
    overflow-x:hidden;
    overflow-y:hidden;
}

label {
	color: #0055ff;
	text-transform: uppercase;
	font-size: 85%;
	letter-spacing: 2px;
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif
}

div.container
{
	display: block;
	margin: auto;
	width: 100%;
}

input#login, input#signup
{
	display: block;
	margin: 10px auto 0px auto;
	padding: 11px 20px;
	width: 100%;
	height: 50%;
	border: 2px solid #0055ff; background: #fff;
	
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #0055ff;
}

input#password, input#name, input#email
{
	box-sizing:border-box;
    -moz-box-sizing:border-box;
	display: block;
	width: 100%;
	margin: 6px auto 18px auto !important;
	padding: 11px 20px;
	
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-size: 80%;
}

input#login:hover, input#signup:hover
{
	border: 2px solid #0055ff; background: #0055ff;
	color: #fff;
}

p#welcome
{
	font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-weight: bold;
	font-size: 120%;
	color: #0055ff;
}

.content-container
{
  width: 95%;
  margin: auto;
}

.grid-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #0055ff;
  padding: 2px;
}
.grid-item {
  background-color: #fff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
  font-family: "Aileron", "Helvetica", "Verdana", sans-serif;
	font-weight: bold;
	font-size: 120%;
	color: #0055ff;
}

/* Modal Header */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    /*margin: 0px auto 0px auto !important;*/
    margin: auto;
    padding: 0px 0px 0px 0px;
    display: block;
    width: 50%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/*desktop styling*/
@media (min-width:500px){
    div.container, .content-container {
        width: 50%;
    }
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
